Import packages

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm ## remember these are abreviations
import statsmodels.formula.api as smf ## abreviations

This code is to import dataset: heart_dataset

In [ ]:
Heart_disease = pd.read_csv("heart_dataset.csv")
pd.set_option('display.max_rows', None)
Heart_disease[:5]

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

Use machine learning to split dataset to training sample and testing sample; set TenYearCHD as the y and whole dataset as x

In [ ]:
x = Heart_disease
y = Heart_disease['TenYearCHD']

# Training and test datasets
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    train_size=0.90,
    random_state=16,
)

print(" Size of Training Samples: {0} \n Size of Testing Samples: {1}".format(len(y_train), len(y_test)))
x_train[:5]

 Size of Training Samples: 3816
 Size of Testing Samples: 424

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
401,1,41,3.0,0,0.0,0.0,0,0,0,215.0,113.0,68.0,25.13,65.0,87.0,0
615,0,63,4.0,0,0.0,0.0,0,0,0,252.0,120.5,75.0,24.30,78.0,77.0,0
2580,0,54,3.0,0,0.0,0.0,0,0,0,248.0,131.0,71.0,24.89,80.0,73.0,0
3770,1,40,1.0,1,20.0,0.0,0,0,0,290.0,120.0,89.0,27.99,80.0,66.0,0
4167,0,45,1.0,0,0.0,0.0,0,0,0,235.0,106.0,58.0,26.79,75.0,79.0,0

Exploratory data analysis to havea better understanding of the data

In [ ]:
Heart_disease.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

Building binomial logistics regression model

In [ ]:
# Model1, Bionomial logistics regression
m = "TenYearCHD~sysBP+glucose"
model = smf.glm(formula = m, data = x_train, family=sm.families.Binomial())
result = model.fit()
print(result.summary())

m2 = "TenYearCHD~sysBP+glucose+cigsPerDay"
model = smf.glm(formula = m2, data = x_train, family=sm.families.Binomial())
result2 = model.fit()
print(result2.summary())

m3 = "TenYearCHD~sysBP+glucose+age+cigsPerDay"
model = smf.glm(formula = m3, data = x_train, family=sm.families.Binomial())
result3 = model.fit()
print(result3.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:             TenYearCHD   No. Observations:                 3472
Model:                            GLM   Df Residuals:                     3469
Model Family:                Binomial   Df Model:                            2
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1405.7
Date:                Fri, 25 Feb 2022   Deviance:                       2811.4
Time:                        11:40:41   Pearson chi2:                 3.46e+03
No. Iterations:                     5   Pseudo R-squ. (CS):            0.05039
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -5.5895      0.309    -18.093      0.000      -6.195      -4.984
sysBP          0.0237      0.002     11.910      0.000       0.020       0.028
glucose        0.0078      0.002      4.196      0.000       0.004       0.011
==============================================================================
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:             TenYearCHD   No. Observations:                 3449
Model:                            GLM   Df Residuals:                     3445
Model Family:                Binomial   Df Model:                            3
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1387.6
Date:                Fri, 25 Feb 2022   Deviance:                       2775.1
Time:                        11:40:41   Pearson chi2:                 3.43e+03
No. Iterations:                     5   Pseudo R-squ. (CS):            0.05668
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -5.9468      0.323    -18.432      0.000      -6.579      -5.314
sysBP          0.0247      0.002     12.215      0.000       0.021       0.029
glucose        0.0084      0.002      4.472      0.000       0.005       0.012
cigsPerDay     0.0187      0.004      4.859      0.000       0.011       0.026
==============================================================================
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:             TenYearCHD   No. Observations:                 3449
Model:                            GLM   Df Residuals:                     3444
Model Family:                Binomial   Df Model:                            4
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1327.3
Date:                Fri, 25 Feb 2022   Deviance:                       2654.6
Time:                        11:40:41   Pearson chi2:                 3.39e+03
No. Iterations:                     5   Pseudo R-squ. (CS):            0.08907
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -8.5080      0.425    -20.010      0.000      -9.341      -7.675
sysBP          0.0165      0.002      7.681      0.000       0.012       0.021
glucose        0.0079      0.002      4.218      0.000       0.004       0.012
age            0.0702      0.007     10.723      0.000       0.057       0.083
cigsPerDay     0.0281      0.004      6.970      0.000       0.020       0.036
==============================================================================

Building binomial logistics regression model

In [ ]:
x_test["prob"] = 1/(1+np.exp(-(-5.5895+0.0078*x_test["glucose"]+0.0237*x_test["sysBP"])))
x_test[:20]

x_test["prob2"] = 1/(1+np.exp(-(-7.6099+0.0071*x_test["glucose"]+0.0161*x_test["sysBP"]+0.0605*x_test["cigsPerDay"])))
x_test[:20]

x_test["prob3"] = 1/(1+np.exp(-(-8.5080+0.0165*x_test["sysBP"]+0.0079*x_test['glucose']+0.0702*x_test["age"]+0.0281*x_test["cigsPerDay"])))

set the threshold as 0.5; if the probability is greater than 0.5, then mark it as 1 which means this person has CHD; if not, mark it as 0, which means this person does not have CHD

In [ ]:
x_test["pred"]=np.where(x_test["prob"]>.5,1,0)
x_test[:20]

x_test["pred2"]=np.where(x_test["prob2"]>.5,1,0)
x_test[:20]

x_test["pred3"]=np.where(x_test["prob3"]>.5,1,0)
x_test[:20]

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,...,BMI,heartRate,glucose,TenYearCHD,prob,prob2,prob3,pred,pred2,pred3
3730,1,59,1.0,1,15.0,0.0,0,0,0,259.0,...,27.93,80.0,83.0,0,0.100390,0.014126,0.201813,0,0,0
3241,0,45,2.0,1,1.0,0.0,0,1,0,285.0,...,24.74,98.0,77.0,0,0.136031,0.007619,0.074031,0,0,0
2080,1,52,1.0,0,0.0,0.0,0,0,0,266.0,...,27.39,70.0,88.0,0,0.106196,0.006051,0.096922,0,0,0
1898,1,63,2.0,1,43.0,0.0,0,0,0,230.0,...,19.97,70.0,67.0,0,0.113347,0.076704,0.437257,0,0,0
3866,1,48,1.0,0,0.0,0.0,0,1,0,259.0,...,25.10,65.0,73.0,1,0.178822,0.008864,0.106410,0,0,0
1510,0,51,2.0,0,0.0,0.0,0,1,0,320.0,...,33.66,65.0,80.0,0,0.169630,0.008597,0.125149,0,0,0
1183,0,57,1.0,0,0.0,0.0,0,1,0,233.0,...,38.88,66.0,40.0,1,0.285631,0.012574,0.239650,0,0,0
3525,0,46,1.0,0,0.0,0.0,0,0,0,217.0,...,20.25,65.0,76.0,0,0.132372,0.007012,0.075254,0,0,0
3249,0,39,1.0,0,0.0,0.0,0,0,0,275.0,...,25.79,94.0,84.0,0,0.138286,0.007359,0.049969,0,0,0
1728,0,46,1.0,0,0.0,0.0,0,1,0,239.0,...,19.27,110.0,70.0,0,0.250218,0.011748,0.121473,0,0,0
1482,0,40,2.0,0,0.0,0.0,0,0,0,185.0,...,21.12,70.0,79.0,0,0.100783,0.005725,0.041601,0,0,0
1639,0,54,1.0,1,5.0,0.0,0,1,0,298.0,...,30.29,64.0,77.0,0,0.198078,0.013105,0.187148,0,0,0
1123,1,64,4.0,0,0.0,0.0,0,0,1,251.0,...,24.28,65.0,86.0,0,0.145966,0.007706,0.242082,0,0,0
1723,0,56,1.0,0,0.0,0.0,0,0,0,254.0,...,24.08,75.0,NaN,0,NaN,NaN,NaN,0,0,0
4222,1,53,3.0,0,0.0,0.0,0,1,0,289.0,...,26.70,70.0,63.0,0,0.344682,0.015738,0.233671,0,0,0
1108,1,61,1.0,0,0.0,0.0,0,0,0,227.0,...,26.18,63.0,91.0,0,0.142009,0.007609,0.203932,0,0,0
1628,0,50,1.0,1,9.0,0.0,0,0,0,229.0,...,23.20,90.0,70.0,0,0.087728,0.008723,0.090208,0,0,0
2354,1,37,1.0,1,25.0,0.0,0,0,0,243.0,...,29.19,60.0,78.0,0,0.117264,0.028440,0.073823,0,0,0
3070,0,41,1.0,1,5.0,0.0,0,0,0,192.0,...,19.16,62.0,90.0,1,0.122131,0.009120,0.060154,0,0,0
1320,0,57,2.0,0,0.0,0.0,0,0,0,239.0,...,21.85,75.0,87.0,0,0.129995,0.007051,0.151382,0,0,0

Testing whether prediction is true by comparing it with TenYearCHD

In [ ]:
x_test["predTrue"]= np.where(x_test["pred"] == x_test["TenYearCHD"],1,0)
x_test[:20]


x_test["predTrue2"]= np.where(x_test["pred2"] == x_test["TenYearCHD"],1,0)
x_test[:20]


x_test["predTrue3"]= np.where(x_test["pred3"] == x_test["TenYearCHD"],1,0)
x_test[:20]

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,...,TenYearCHD,prob,prob2,prob3,pred,pred2,pred3,predTrue,predTrue2,predTrue3
3730,1,59,1.0,1,15.0,0.0,0,0,0,259.0,...,0,0.100390,0.014126,0.201813,0,0,0,1,1,1
3241,0,45,2.0,1,1.0,0.0,0,1,0,285.0,...,0,0.136031,0.007619,0.074031,0,0,0,1,1,1
2080,1,52,1.0,0,0.0,0.0,0,0,0,266.0,...,0,0.106196,0.006051,0.096922,0,0,0,1,1,1
1898,1,63,2.0,1,43.0,0.0,0,0,0,230.0,...,0,0.113347,0.076704,0.437257,0,0,0,1,1,1
3866,1,48,1.0,0,0.0,0.0,0,1,0,259.0,...,1,0.178822,0.008864,0.106410,0,0,0,0,0,0
1510,0,51,2.0,0,0.0,0.0,0,1,0,320.0,...,0,0.169630,0.008597,0.125149,0,0,0,1,1,1
1183,0,57,1.0,0,0.0,0.0,0,1,0,233.0,...,1,0.285631,0.012574,0.239650,0,0,0,0,0,0
3525,0,46,1.0,0,0.0,0.0,0,0,0,217.0,...,0,0.132372,0.007012,0.075254,0,0,0,1,1,1
3249,0,39,1.0,0,0.0,0.0,0,0,0,275.0,...,0,0.138286,0.007359,0.049969,0,0,0,1,1,1
1728,0,46,1.0,0,0.0,0.0,0,1,0,239.0,...,0,0.250218,0.011748,0.121473,0,0,0,1,1,1
1482,0,40,2.0,0,0.0,0.0,0,0,0,185.0,...,0,0.100783,0.005725,0.041601,0,0,0,1,1,1
1639,0,54,1.0,1,5.0,0.0,0,1,0,298.0,...,0,0.198078,0.013105,0.187148,0,0,0,1,1,1
1123,1,64,4.0,0,0.0,0.0,0,0,1,251.0,...,0,0.145966,0.007706,0.242082,0,0,0,1,1,1
1723,0,56,1.0,0,0.0,0.0,0,0,0,254.0,...,0,NaN,NaN,NaN,0,0,0,1,1,1
4222,1,53,3.0,0,0.0,0.0,0,1,0,289.0,...,0,0.344682,0.015738,0.233671,0,0,0,1,1,1
1108,1,61,1.0,0,0.0,0.0,0,0,0,227.0,...,0,0.142009,0.007609,0.203932,0,0,0,1,1,1
1628,0,50,1.0,1,9.0,0.0,0,0,0,229.0,...,0,0.087728,0.008723,0.090208,0,0,0,1,1,1
2354,1,37,1.0,1,25.0,0.0,0,0,0,243.0,...,0,0.117264,0.028440,0.073823,0,0,0,1,1,1
3070,0,41,1.0,1,5.0,0.0,0,0,0,192.0,...,1,0.122131,0.009120,0.060154,0,0,0,0,0,0
1320,0,57,2.0,0,0.0,0.0,0,0,0,239.0,...,0,0.129995,0.007051,0.151382,0,0,0,1,1,1

Calculate true predictions and false predictions and prediction accuracy

In [ ]:
print("True Prediction: ", len(x_test.query("predTrue == 1")))
print("False Prediction: ", len(x_test.query("predTrue == 0")))
print("Prediction Accuracy: ", len(x_test.query("predTrue == 1"))/424)

print("True Prediction: ", len(x_test.query("predTrue2 == 1")))
print("False Prediction: ", len(x_test.query("predTrue2 == 0")))
print("Prediction Accuracy: ", len(x_test.query("predTrue2 == 1"))/424)

print("True Prediction: ", len(x_test.query("predTrue3 == 1")))
print("False Prediction: ", len(x_test.query("predTrue3 == 0")))
print("Prediction Accuracy: ", len(x_test.query("predTrue3 == 1"))/424)

True Prediction:  364
False Prediction:  60
Prediction Accuracy:  0.8584905660377359
True Prediction:  364
False Prediction:  60
Prediction Accuracy:  0.8584905660377359
True Prediction:  368
False Prediction:  56
Prediction Accuracy:  0.8679245283018868

Testing performance of true predictions of patients who do have 10-year CHD

In [ ]:
# Model 1
x_test_filtered = x_test.query('TenYearCHD == 1 & pred == 1')
x_test_filtered

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,...,TenYearCHD,prob,prob2,prob3,pred,pred2,pred3,predTrue,predTrue2,predTrue3
369,0,67,1.0,0,0.0,0.0,0,1,0,248.0,...,1,0.565275,0.030481,0.624619,1,0,1,1,0,1
2091,1,65,1.0,0,0.0,0.0,0,1,1,240.0,...,1,0.908595,0.152168,0.907106,1,0,1,1,0,1

In [ ]:
x_test_filtered = x_test.query('TenYearCHD == 1 & pred2 == 1')
x_test_filtered

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, TenYearCHD, prob, prob2, prob3, pred, pred2, pred3, predTrue, predTrue2, predTrue3]
Index: []

[0 rows x 25 columns]

In [ ]:
x_test_filtered = x_test.query('TenYearCHD == 1 & pred3 == 1')
x_test_filtered

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,...,TenYearCHD,prob,prob2,prob3,pred,pred2,pred3,predTrue,predTrue2,predTrue3
369,0,67,1.0,0,0.0,0.0,0,1,0,248.0,...,1,0.565275,0.030481,0.624619,1,0,1,1,0,1
2091,1,65,1.0,0,0.0,0.0,0,1,1,240.0,...,1,0.908595,0.152168,0.907106,1,0,1,1,0,1
1363,1,55,1.0,1,40.0,0.0,0,0,1,205.0,...,1,0.488852,0.302019,0.757680,0,0,1,0,0,1
624,1,63,3.0,1,20.0,0.0,0,1,0,269.0,...,1,0.338878,0.051882,0.527522,0,0,1,0,0,1
2893,1,62,3.0,0,0.0,0.0,0,0,1,346.0,...,1,0.478251,0.040611,0.656616,0,0,1,0,0,1
522,1,62,4.0,1,40.0,0.0,0,1,0,203.0,...,1,0.207362,0.105968,0.540138,0,0,1,0,0,1